@font-face {
  font-family: Open_Sans;
  src: url(./../fonts/Open_Sans/static/OpenSans-Regular.ttf);
}

* {
  font-family: Open_Sans;
}

:root {
  --mainColor: #2e8a99;
}

body {
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}

.title h1 {
  border-color: var(--mainColor) !important ;
}

.hint {
  color: rgb(255, 7, 7);
}

#start ,#tryAgain{
  background-color: var(--mainColor);
}
.category {
  background-color: var(--mainColor);
}
.qIndex {
  background-color: #a1ccd1;
}
.questions ul li .btn {
  border-color: var(--mainColor);
  color: var(--mainColor);
  transition: all 500ms;
}
.questions ul li .btn:hover {
  background-color: var(--mainColor);
  color: white;
}
.questions ,.result{
  display: none;
}

.correct,.correct:hover{
    background-color: #50ff04ed !important; 
    border-color: #50ff04ed !important;
    color: black !important;
}
.wrong,.wrong:hover{
    background-color: red !important; 
    border-color: red !important;
    color: white !important;
}